*{
  margin: 0px;
  padding: 0px;;
}
body {
    font-family: 'Open Sans',sans-serif;
    font-weight: 500;
    color:#fff;
    background-color: lightgray;
  }
 
  
  a {
    text-decoration: inherit;
    color: inherit;
  }
  
  a:hover {
    text-decoration: inherit;
  }
  
  h2 {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin: 2px;
    margin-top: 15px;
    text-align: center;
  }
  .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 730px;
    background: #b13ee7bd;
    background-image: linear-gradient(226deg, black, transparent);
    z-index:-1;
  }
  
  .container {
    display: block;
    position: relative;
    width: 500px;
    height: 550px;
    margin: auto;
    margin-top: 90px; 
    box-shadow: 1px 5px 10px 1px #333;
    overflow:hidden;
  }
  
  img.bg-img {
    width: 100%;
    height: 550px;
    display: block;
    position: absolute;
    margin: auto;
    border-radius: 69px;
  }
  
  
  
  .connexion {
    margin-top: 45px;
      position: absolute;
      padding: 5% 13%;
      width: 74%;
      left:0px;
      transition: all 0.7s;
  }
  
  
  
  label {
      display: block;
      margin-top: 10px;
      padding: 5px 10px;
      font-size: 15px;
      font-weight: 600;
      color: #fff;
  }
  
  input {
      display: block;
      width: 93%;
      margin: auto;
      padding: 13px;
      border: 0;
      border-radius: 20px;
      font-family: "Roboto",sans-serif;
      opacity: 0.13;
  }
  
 
  
  input.submit {
      width: 100%;
      padding: 10px;
      font-size: 17px;
      font-weight: 730;
      color: #fff;
      opacity: 1;
      background-color: #1161EE;
      cursor: pointer;
      margin-top: 40px;
      margin-bottom: 40px;
  }
  .enregistrer {
    position: absolute;
    padding: 5% 13%;
    width: 74%;
    right:0px;
    transition: all 0.7s;
  } 
  .connexion h4 {
    margin-bottom: 0;
    text-align: center;
    color: #ffffff;
    opacity: 0.3;
    margin: 5px;
}

.connexion h4:hover {
    opacity: 0.8;
    transition: all 0.1s ease-in;
  }