{% extends 'base.html' %}
{% load static %}

{% block head %}
    {% comment %} <title>{{user.username}}</title> {% endcomment %}
    <title>Friends -Sphere</title>
    <link rel="stylesheet" href="{% static 'css/chats/home.css' %}">
    <!-- font-awesome 4.7.0 cd link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jquery 3.6.4 cdn link -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
{% endblock head %}

{% block content %}
    <section>
        <div id="users">
            <div class="searchbar">
                <input type="text" name="" id="" placeholder="Search">
                <button><i class="fa fa-search" style="font-size: 18px;">
                    </i></button>
            </div>
            {% comment %} {% for user_profile in users_profile %} {% endcomment %}
                <div class="user">
                    <div class="user-pic">
                        <img src="{{ user_profile.profile_pic.url }}" class="profile-picture">
                    </div>
                    <div class="about-user">
                        <h3>{{ user_profile.user.username }}</h3>
                        <p>{{ user_profile.bio }}</p>
                    </div>
                </div>                
            {% comment %} {% endfor %} {% endcomment %}
        </div>
        <div id="chats">
            <div class="chats-action-control">
                <a href="" >
                    {% comment %} <img src="{{user.profile.profile_pic.url}}" class="profile-picture">  {% endcomment %}
                    {% comment %} <small>{{user.username}}</small> {% endcomment %}
                </a>
                <div class="actions">
                    <small>Delete</small>
                </div>
            </div>
            <div class="messages">
                <div class="reciver">
                    <p>Hi, How are you?</p>
                </div>
                <div class="sender">
                    <p>Fine, What About you?</p>
                </div>
                <div class="reciver">
                    <p>Hi, How are you?</p>
                </div>
                <div class="sender">
                    <p>Fine, What About you?</p>
                </div>
                <div class="reciver">
                    <p>Hi, How are you?</p>
                </div>
                <div class="sender">
                    <p>Fine, What About you?</p>
                </div>
                <div class="reciver">
                    <p>Hi, How are you?</p>
                </div>
                <div class="sender">
                    <p>Fine, What About you?</p>
                </div>
            </div>
        </div>
        <form action="" id="chat-sender" method="POST">
            <div class="sending-area">
                <div class="emoji">
                    <button>
                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="add-files">  
                    <button>
                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                    </button>                  
                </div>
                <div class="message">
                    <input type="text" name="" id="" placeholder="Message">
                    <button><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </div>
        </div>
        </form>
    </section>

    <!-- my script -->
    <script src="{% static 'js/chats/home.js' %}"></script>
{% endblock content %}