section {
    width: 100%;
    height: 100%;
}

#users, #chats {
    margin: 0.5%;
    float: left;
    border-radius: 8px;
    border: none;
    outline: none;
    overflow-y: scroll;
}

#users {
    margin-right: 0px;
    width: 32%;
    height: calc(98% - 100px);
    background-color: #ae00ff;
}

#chats {
    width: 66%;
    height: calc(82% - 100px);
    border-radius: 8px;
}

#chat-sender {
    margin: 0px 0.5%;
    float: left;
    width: 66%;
    height: 15%;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #ae00ff;
}

.searchbar {
    position: relative;
    width: 80%;
    height: 7vh;    
    top: 40px;
    left: 45px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.455);
    border-radius: 25px;
    display:flex;
}

.searchbar input[type="text"] {
    width: 80%;
    height: 100%;
    font-size: 22px;
    margin-left: 5px;
    font-weight: 500;
    border: solid 2px white;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 2px;
    outline: none;
}

.searchbar button {
    width: 20%;
    height:100%;
    border-top-right-radius: 25px;
    background-color: white;
    border: solid white;
    border-bottom-right-radius: 25px;
}

.user {
    width: 80%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 75px;
    border-radius: 35px;
    left: 45px;
    background-color: rgba(255, 255, 255, 0.242);
    margin-top: 20px;
}

.user-pic {
    width: 18%;
    height: 10vh;
    background-color: white;
    border-radius: 50%;
}

.user-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.about-user {
    width: 70%;
    height: 100%;
    margin: 10px
}

.about-user h3 {
    color: rgb(250, 76, 198);
    font-size: 24px;
}

.chats-action-control {
    position: fixed;
    padding: 10px 20px;
    width: 65.5%;
    display: flex;
    margin-bottom:5px;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    justify-content: space-between;
    background-color: #ae00ff;
}

.messages {
    width: 100%;
    height: auto;
    background-color: rgb(218, 215, 215);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 8px;
}

.reciver {
    width: 20%;
    height: 6vh;
    padding: 13px;
    background-color: rgb(174, 0, 255);
    margin: 24px;
    align-self: flex-start;
    border-radius: 25px;
}

.sender {
    align-self: end;
    width: 20%;
    height: 6vh;
    padding: 13px;
    background-color: rgb(250, 76, 198);
    margin: 24px;
    border-radius: 25px;
}

/* stop */

.sending-area {
    width: 100%;
    height: 10vh;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: rgb(174, 0, 255);
    margin: 4px 4px 4px 0;
    border-radius: 10px;
}

.emoji {
    width: 10%;
    height: 100%;
    margin: 25px;
}

.emoji button {
    width: 85%;
    padding: 12px;
    font-size: 45px;
    text-align: center;
    border: 0;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 253, 253, 0.592);
}

.add-files {
    width: 10%;
    height: 100%;
    margin: 25px;
}

.add-files button {
    width: 85%;
    padding: 12px;
    border:0;
    font-size: 45px;
    text-align: center;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 253, 253, 0.592);
}

.message {
    width: 70%;
    height: 80%;
    margin:25px;
    display: flex;
    background-color:rgb(255, 254, 254);
    margin-left:45px;
    border-radius: 25px;
}

.message input{
    width: 90%;
    margin-left: 5px;
    height: 100%;
    border-radius: 25px;
    border:0;
    font-size: 22px;
}
.message button{
    width: 10%;
    padding:12px;
    font-size: 20px;
    border: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgb(255, 255, 255);
}

input:focus {
    outline: none;
}

.room:hover .drop-down-room {
    display: block;
}

.user-profile:hover .drop-down-profile {
    display: block;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #88888800;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555555a3;
}