{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>~ signin ~</title>
    <link rel="stylesheet" href="{% static 'css/users/staticsinsup.css' %}" />
</head>
<body>
    <form action="{% url 'signin_url' %}" method="POST">
      {% csrf_token %}
      <div class="content">
        <div class="container">
          <img class="bg-img" src="{% static 'images/bg.jpg' %}" />
          <div class="connexion">
            <div class="contact-form">
              <h2> Login </h2>
              <label>USERNAME</label>
              <input placeholder="" type="text" name="username" required />
              <br>
              <label>PASSWORD</label>
              <input placeholder="" type="password" name="password" required />
              <br><br>
              <button class="submit" type="submit"> Sign in</button>
            </div>
            <small>Create Account? 
              <a href="{% url 'signup_url' %}" style="color:rgb(2, 112, 255);text-decoration: underline;font-size: 16px;">Sign Up</a>
            </small>
          </div>
        </div>
      </div>
    </form>
</body>
</html>
