{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>~ signup ~</title>
    <link rel="stylesheet" href="{% static 'css/users/staticsinsup.css' %}">
</head>
<body>
  <form action="{% url 'signup_url' %}" method="POST">
    {% csrf_token %}
    <div class="content">
      <div class="container">
          <img class="bg-img" src="{% static 'images/bg.jpg' %}" alt="" />
          <div class="menu">
        <div class="enregistrer active-section">
          <div class="contact-form">
            <h2>Join Now</h2>
            <hr><br>
            <label>USERNAME</label>
            <input placeholder="" type="text" name="username" required />

            <label>E-MAIL</label>
            <input placeholder="" type="email" name="email" required />

            <label>PASSWORD</label>
            <input placeholder="" type="password" name="passw1" required />

            <label>CONFIRM PASSWORD</label>
            <input placeholder="" type="password" name="passw2" required />

            <br>

            <button class="submit" type="submit">Sign Up </button>
            <small>Already have an Account? 
              <a href="{% url 'signin_url' %}" style="color:rgb(2, 112, 255);text-decoration: underline;font-size: 16px;">Login</a>
            </small>
          </div>
      </div>
    </div>
  </form>
</body>
</html>